/* GENERAL */
body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: 00.02em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}

h2 {
    letter-spacing: 00.02em;
    font-size: 30px;
    text-transform: uppercase; 
    margin-bottom: 18px;
    margin-top: 0;
}

h3 {
    letter-spacing: 00.02em;
    font-size: 18px;
    text-transform: uppercase; 
    margin-bottom: 35px;
    margin-top: 0;
}

ul { /* removes indention */
    margin: 0;
    padding: 0;
}

p {
    color: #6E6D6D; /* changes text color */
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: #fafafa; /* special color for header */
}

.page-title, .header-nav ul, section, .footer-wrapper {
    width: 80%; /* makes layout narrower besides main image */
}

.page-title {
    margin: 50px auto;
}

.page-title p {
    color: grey;
    font-size: 18px;
}

.header-nav {
    padding: 30px 0;
    box-shadow: 0px 0px 2px lightgray; 
    background-color: white; 
    margin: 0;
}

.header-nav ul {
    margin: 0 auto;
}


.header-nav li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 40px;
    font-weight: 700;
}

.header-nav a {
    text-decoration: none;
    color: black;
    transition: all 0.5s linear; /* effect of smooth changing links color on hover over */
}

.header-nav a:hover { /* changes color on hover over */
    color: grey;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px auto;
    gap: 90px;
}

#about-main-img {
    width: 100vw; /* makes image being responsive and filling all width of screen */
}

section {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin: 0px auto;
}

/* relative width amount for 2 columns in one section */
.general-topic {
    width: 35%;
}

.specific-topic {
    width: 65%;
}

.general-topic p {
    font-size: 14px;
}

.specific-topic p {
    font-size: 18px;
}

.logotypes-topic { /* style for container with logos*/
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.logotypes-topic img {
    flex: 1 0 auto; /* style for logo images flex-grow 1, no shrink, flex-basis depends of available space amount */
}

/* FOOTER */

footer {
    background-color: #6736cd;
    padding: 50px 0 100px 0;
    color: white;
    font-size: 18px;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 40px;
}

footer p, a {
    color: white;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-block {
    flex-grow: 1;
    flex-basis: 0; /* all containers have equal width */
    line-height: 1.5;
}

/* styles for iframe to get custom sizes */
.map-container {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 133%; /* 3:4 aspect Ratio (divide 4 by 3 = 1.33)*/
}

#location-map { /* styles the iframe to fit in the container with full height and width */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

address {
    font-style: normal; /* removes italic */
}

.list-custom-style li {
    list-style: none;
    text-decoration: none;
    border-top: 2px solid #7249c1; /* adds lines between links */
    padding: 20px 0;
    transition: all 1s ease-in-out; /* effect of smooth moving to the right on hover over */
}

.list-custom-style li:first-child { /* removes line for the first link like on the layout */
    border-top: none;
    padding-top: 0px;
}

.list-custom-style a {
    text-decoration: none;
}

.list-custom-style li:hover { /* moves links with border to the right on hover over */
    margin-left: 20px; 
}


/* MEDIA QUERIES */

/* for mobile screens */
@media all and (max-width: 600px) {
    h2, h3 { 
        font-size: 25px; 
        margin-bottom: 18px;
    }    
    
    .header-nav ul { /* column style for navigation panel on mobile screen */
        display: flex;
        flex-direction: column;
        font-weight: 700;
        gap: 15px;
    }

    .header-nav li {
        font-size: 25px;
    }

    main {
       gap: 40px;
    }

    section { /* makes one column for main content */
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    section:nth-child(2) { /* colunm position changing for mobile screens (mobile layout) */
        flex-direction: column-reverse;
    }
    /* changes width of containers to make each of them fill all the horizontal space */
    .general-topic {
        width: 100%;
    }
    
    .specific-topic {
        width: 100%;
    }

    .general-topic p {
        font-size: 18px;
    }

    .logotypes-topic img { /* makes logo images create 2 column */
        flex-basis: 40%;
    }

    .footer-wrapper { /* column style for footer on mobile screen */
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    /* backup to initial styles of iframe with map */
    .map-container {
        all: initial;
    }
    
    #location-map {
        all: initial;
    }
    
    /* backup to initial styles for IE and Opera Mini */
    .map-container {
        position: static;
        overflow: visible;
        width: auto;
        padding-top: 0; 
    }
    
    #location-map {
        position: static;
        width: auto;
        height: auto;
    }

}

/* for tablet screens */
@media all and (min-width: 601px) and (max-width: 800px) {
    main {
        gap: 40px;
    }
 
    section { /* makes one column for main content */
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
 
    section:nth-child(2) { /* colunm position changing for mobile screens (mobile layout) */
        flex-direction: column-reverse;
    }
     /* changes width of containers to make each of them fill all the horizontal space */
    .general-topic {
        width: 100%;
    }
     
    .specific-topic {
        width: 100%;
    }
 
    .general-topic p {
        font-size: 18px;
    }
    
    .footer-wrapper { 
        gap: 40px;
    }

    .footer-block { /* creates two equal columns */
        flex-basis: 45%;
    }
}

/* special style for footer and map for large tablet screens */
@media all and (min-width: 801px) and (max-width: 1150px) {
    .footer-wrapper { 
        gap: 40px;
    }

    .footer-block { /* creates two equal columns */
        flex-basis: 45%;
    }

    .map-container {
        padding-top: 100%; /* 1:1 aspect Ratio (height and width are equal)*/
    }
}

/* special style for container with logo images for very large screens */
@media all and (min-width: 1450px) {
    .logotypes-topic img {
        width: 10%; /* creates two rows */
    }
}